<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>movie_match</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body onload="setmovie()">

<a href=" {% url 'show' %} " class="button is-info is-light home" style="margin-top: 10px; margin-left: 30px;"> <button><strong>Back</strong></button> </a>
<a href=" {% url 'home' %} " class="button is-info is-light home" style="margin-top: 10px; margin-left: 15px;"> <button><strong>Home</strong></button> </a>

<div class="level-item" style="margin-top: 10px;">
      <div class="field has-addons">
        <p class="control">
          <input type="text" class="input" placeholder="Enter movie name" id="movie_name" style="border-top-left-radius: 8px; border-bottom-left-radius: 8px;">
        </p>
        <p class="control" >
          <button class="button" id="search_button" style="border-top-right-radius: 8px; border-bottom-right-radius: 8px;">Search</button>
        </p>
        <div id="csrf-token" style="display:none;">
            {% csrf_token %}
        </div>
      </div>
</div>

<div style="margin-top: 10px; display: flex; align-items: center; justify-content: center;">
<div>
    {% if message %}
    <br><br>
    <h1 style="font-size: 30px;">
        No movie found!
    </h1>

{% endif %}
</div>
</div>
{% for movie in movies %}
    <div class="columns" style="margin-top: 10px; margin-left: 10px;">
        <div class="column is-narrow" style="margin-left: 10px;">
            <div class="box" style="width: 270px; height: 390px;">
                {% if movie.picture_url %}
                    <img src="https://image.tmdb.org/t/p/w200{{ movie.picture_url }}" style="width: 100%; height: 90%; border: 2px solid black;">
                {% else %}
                <div class="noimage">
                    <p>No image found!</p>
                </div>
                {% endif %}
                <div class="remove-container">
                    {{ movie|json_script:movie.id }}
                    <button class="top10-btn remove-btn button is-success is-light" id="{{ movie.id }}" style="margin-top:10px, margin-bottom:10px;">Top 10</button>
                </div>
            </div>
        </div>

        <div class="column is-right" style="padding-bottom: 0px;">
        <div class="box" style="padding-bottom: 0px;">
            <p class="title is-5" style="margin-bottom: 20px;">{{ movie.title }}</p>

            <p class="subtitle">
                Overview :  {{ movie.overview }}</p>

            <p class="subtitle">
                Release date :
                {% if movie.release_date %}
                    {{ movie.release_date }}
                {% else %}
                    No date classified
                {% endif %}
            </p>

             <p class="subtitle">
                Popularity :  {{ movie.popularity }}</p>

            <p class="subtitle" style="display: inline-block">Genre(s) :
                {% if movie.genres %}
                    {% for genre in movie.genres %}
                        <p class="subtitle genres" style="display: inline-block">{{ genre }}</p>
                    {% endfor %}

                {% else %}
                    <p class="subtitle genres" style="display: inline-block">No genre classified</p>
                {% endif %}
            </p>

        </div>
        </div>
    </div>


{% endfor %}


</body>

</html>
<script>
    document.addEventListener("DOMContentLoaded", function(event) {
        const search_button = document.getElementById("search_button");

        search_button.onclick = function() {
            const movie = document.getElementById("movie_name").value.trim();
            const movie_name = encodeURIComponent(movie);
            window.location.href= `/add_movie/search/?moviename=${movie_name}`;
        };

    });

    function setmovie() {
       {% if user_input %}
            const movie_name = document.getElementById("movie_name");
            movie_name.value = "{{ user_input }}";
       {% endif %}
    };

    document.querySelectorAll(".top10-btn").forEach(btn => {
            btn.addEventListener("click", () => {
                const movieId = btn.id;
                const movie = JSON.parse(
                              document.getElementById(movieId).textContent );
                set_top10(movie, btn);
            });
    });


    function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== "") {
        const cookies = document.cookie.split(";");
        for (let cookie of cookies) {
            const c = cookie.trim();
            if (c.startsWith(name + "=")) {
                cookieValue = decodeURIComponent(c.substring(name.length + 1));
                break;
            }
          }
        }
    return cookieValue;
    }

    const csrftoken = getCookie("csrftoken");

    async function set_top10(movie,button){
        const result = await fetch(`/add_movie/actually_add/`, {
                        method: "POST",
                        headers: { "Content-Type": "application/json",
                                   "X-CSRFToken": csrftoken,
                                   "Accept": "application/json"
                                  } ,
                        body: JSON.stringify(movie)
                        });
        const message = await result.json();
        button.disabled = true;

        if ( message.message == 'enough' ){
            alert('list is full');
        }

        else if ( message.message == 'no' ){
            alert('movie already exists in the list');
            button.innerHTML = 'Added';
        }

        else{
            button.innerHTML = 'Added';
        }
        console.log(message.message);
    }


</script>

<style>
    body{
         font-family: 'Poppins', sans-serif;
    }
    .remove-container{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .genres{
        display: inline-block;

        padding-top: 5px;
        padding-bottom: 7px;
        padding-left: 15px;

        border-radius: 6px;

    }
    .top_10{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 50px;
    }
    .other{
        margin-left: 10px;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    .noimage{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        text-decoration: underline;
        font-size: 20px;
        margin-bottom: 280px;
    }


</style>
