<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    <meta charset="UTF-8">
    <title>movie_match</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>
    <a href=" {% url 'home' %} " class="button is-info is-light is-rounded"
        style="margin-top: 30px; margin-left: 30px; margin-bottom: 30px; height: 50px;">
        <i class="fas fa-home mr-2"></i><strong>Home</strong>
    </a>
    <br>
    <p style="margin-left: 30px; text-decoration: underline;">All the users that have registered into the site
        (excluding you ofcourse!)</p><br>
    <div class="container" style="margin-top: 20px; padding: 0 20px;">
        <div class="columns is-multiline">
            {% for user in users %}
            <div class="column is-one-third-desktop is-half-tablet">
                <div class="status box">
                    <p class="title is-5" style="margin-bottom: 0;">{{ user }}</p>
                    <button class="button is-primary is-light is-rounded show_top10s" id="{{ user }}">
                        <i class="fas fa-list-ol mr-2"></i>Top_10s
                    </button>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll(".show_top10s").forEach(btn => {
            btn.addEventListener("click", () => {
                const user = btn.id;
                window.location.href = `/show_users/top_10s/?username=${user}`;
            });
        });
    });
</script>
<style>
    body {
        font-family: 'Poppins', sans-serif;
    }

    .status {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
</style>

</html>